nav img{
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
    border-radius: 50%;
}
main{
    text-align: center;
}
#codes{
    width: 98%;
    min-height: 280px;
    border-radius: 16px;
    border: 3px solid rgba(9, 209, 42, 0.989);
}
#buttons{
    display: flex;
    justify-content: space-evenly;
}
#buttons button{
    width: 47%;
    border-radius: 13px;
    border: 0px;
    padding: 13px;
}
#remove{
    background-color: rgb(202, 0, 0);
    color: whitesmoke;
}
#play{
    background-color: rgb(47, 44, 44);
    color: aliceblue;
}
#title-result{
    padding: 10px;
    border-bottom: 3px solid rgb(47, 44, 44);
    margin: 8px 0px;
    font-weight: bold;
}
#result{
    max-width: 100% !important;
}